*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    display: flex;
    position: relative;
    top: 0px;
    justify-content: space-around;
    background-color: #353b41;
    color: white;
    height: 70px;
    align-items: center;
}

.container-logo {
    display: flex;
    float: left;
    align-items: center;
}

.container-logo img {
    width: 100px;
    height: 50px;
}
.container-logo img:hover{
    animation: bounce 0.9s;
}
@keyframes bounce {
    30% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
.container-logo h2 {
    font-size: 20px;
    font-weight: 400;
}
.container-logo h2:hover {
    animation: bounce 0.9s;
}

.container-nav {
    margin-top: 10px;
}

.container-nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: auto 10px;
    color: #7b8287;
    transition: 0.5s;
    font-weight: 400;

}

.container-nav ul li:hover{
    color: white;
}
.container-nav ul .comprar {
    color: #27a643;

}
.container-nav ul .comprar:hover {
    color: #40e464;
}

.imagen {
    height: 100%;
    position: relative;
    z-index: -1;
}

main div img {
    position: relative;
    width: 100%;
    height: 90vh;
}

.filtro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 4;
}
.contenido-imagen {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 650px;
    height: max-content;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20vh;
}
.contenido-imagen h1{
    font-weight: 500;
    color: white;
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}
.contenido-imagen p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}
.boton-comprar{
    background-color: #23a943;
    padding: 6px 10px;
    border: 1px solid #23a943;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    transition: 0.5s ease;
}
.boton-comprar:hover{
    background-color: #014e13;
    border: 1px solid #014e13;

}
.boton-orador{
    background-color: #00000000;
    padding: 6px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: white;
    font-weight: 400;
    transition: 0.5s ease;
}
.boton-orador:hover{
    background-color: #ffffff;
    border: 1px solid #000000;
    color: black;
}
.tarjetas {
    display: flex;
    justify-content: space-around;
}
.card-img-top {
    border-radius: 8px;
}
.card {
    width:300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.459);
    border-radius: 8px;
}

.javascript {
    font-size: 12px;
    background-color: #f8c111;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}
.react {
    font-size: 12px;
    background-color: #139bb1;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}
.start {
    font-size: 12px;
    background-color: #d62c3f;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

.negocios {
    font-size: 12px;
    background-color: #646f73;
    padding: 0 5px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
}

.info {
    width: 100%;
    height: calc(25vh + 200px);
    display: flex;
    margin: 50px 0;
    margin-bottom: 40px;
}
.imagen-footer {
    width: 50%;
    height: 100%;
}
.imagen-footer img{
    width: 100%;
    height: 100%;
}
.info-parrafo {
    background-color: #35383f;
    width: 50%;
    height: 100%;
    color: white;
    padding: 20px;
}
.info-parrafo p {
    font-size: 15px;
    font-weight: 300;
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}
.info-parrafo h3 {
    filter: drop-shadow(2px 2px 7px rgb(0, 0, 0));
}
.texto-form {
    text-align: center;
}
.texto-form h3 {
    font-size: 15px;
    margin-bottom: -5px;
}
.formulario-info {
    display: grid;
    width: 50%;
    margin:0 auto ;
    grid-template-columns: auto auto;
    grid-template-rows: 40px 150px 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.formulario-info input {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border:1px solid rgba(0, 0, 0, 0.637);
    transition: 0.5s;
}
.formulario-info input:focus{
    border:3px solid #fdc901;
    box-shadow: 0 0 10px #d1bc00;
    outline: none;
}

.dato{
    grid-column: 1 / 3;
    width: 100%;
}
.dato textarea{
    width: 100%;
    border-radius:8px;
    border:1px solid #00000081;
    transition: 0.5s;
}
.dato textarea:focus {
    outline: none;
    border:1px solid #fdc901;
    box-shadow: 0 0 10px #d1bc00;
}
.send {
    grid-column: 1 / 3;
    background-color: #96c83f;
    color: white;
    border-radius: 8px;
    border:#96c83f ;
    transition: 0.5s;
}
.send:hover {
    background-color: #5d811e;
    border:3px solid #566d2e;
}

.formulario-info input::placeholder{
    padding-left: 10px;
}

.dato textarea::placeholder {
    padding: 10px;
}

footer {
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0px;
    background-image: linear-gradient(to right, #1b3645, #1c3d50, #1c445b, #1c4c67, #1d5373);;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul {
    margin: 0;
}
footer ul li{
    list-style: none;
    display: inline-block;
    margin:0 30px;
    color: #7b8287;
    transition: 0.5s;
}

footer ul li:hover {
    color: white;
}

body::-webkit-scrollbar {
    width: 10px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.61);
}

body::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 5px ;
}